.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  display: none;

  background-color: rgba(0, 0, 0, 0.5);

  padding-top: 195px;
}

@media screen and (max-width: 768px) {
  .popup {
    padding-top: 123px;
  }
}