.profile__avatar-edit {
  background-image: url(../../../images/profile__avatar-edit.svg);
  width: 26px;
  height: 26px;
}

.profile__avatar-edit:hover {
  opacity: .5;
  transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  -ms-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  cursor: pointer;
}